{% extends 'car/base.html' %}

{% block content %}
<div class="row">
    {% for object in object_list %}
    <div class="col-4">
        <div class="card shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Рассылка: {{object.mailing_id.message.head}}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Время последней рассылки: {{object.last_try}}</p>
                <p class="card-text">Статус: {{object.status_try }}</p>
                <p class="card-text">Ответ сервера: {{object.answer|default:'Успешно'}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}